{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block headers %}
<title>{% trans "Projects" %}</title>
{% endblock headers %}
{% block body %}
    <div class="container">
        <div class="headers">
            <h1 class="header" align="center">{% trans "Projects" %}</h1>
            {% include "logo.html" %}
        </div>
        <div class="row">
            <div class="col">
                <div class="card-columns">
                    {% for obj in object_list %}
                        <a href="{{ obj.slug }}">
                            <div class="card">
                                <img class="card-img-top" src="{{ obj.thumbnail.url | safe }}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{ obj.title | safe }}</h5>
                                </div>
                            </div>
                        </a>
                        <br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}